*{
	padding:0;
	margin:0;
	font-family: Papyrus, Calibri, Georgia, Baskerville;
}
header{
	position: fixed;
	top: 0px;
	background: #A00;
	height: 100px;
	width: 100%;	
	z-index: 1000;
}
main:before{
	content: '';
	display: table;
}
main:after{
	clear: both;
}
main{
	position: relative;
	top: 120px;	
	margin-bottom: 50px;	
}
footer{
	position: fixed;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background:#FFF;
	z-index: 1000;
}